* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

ul {
  padding: 0;
}

h3 {
  margin: 0;
}

/* ----------------------------HEADER-------------------------- */

header {
  width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0;
  border: solid 1px black;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 33%;
  justify-content: center;
}
nav {
  width: 33%;
  display: flex;
  padding: 0;
  justify-content: center;
}
.menu {
  display: flex;
  gap: 2em;
}

#perfil {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------HOME---------------------------------------HOME------------------------------------------HOME------------------- */

.home-container {
  width: 1280px;
  margin: auto;
  display: flex;
  position: relative;
  padding-top: 2em;
}
.right-container {
  width: 80%;
}
.filtros-container {
  width: 20%;
}

.header-home {
  display: flex;
  gap: 20px;
  width: 100%;
}
.header-right {
  display: flex;
}
.search-container {
  display: flex;
  width: 80%;
}
.icons-container {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 20px;
}
.icon-trash {
  padding: 1rem;
  border-radius: 100%;
  cursor: pointer;
  background-color: red;
}
.icon-edit {
  padding: 1rem;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgb(192, 192, 192);
}
.icon-edit-auto,
.icon-trash-auto {
  padding: 0.7rem;
  border-radius: 100%;
  cursor: pointer;
}
.icon-edit-auto {
  background-color: rgb(192, 192, 192);
}
.icon-trash-auto {
  background-color: red;
}
.tabla {
  width: 100%;
  padding-top: 2em;
}

.item-auto > td {
  text-align: center;
}
th,
td {
  padding: 1em;
}

.icon_auto_container {
  display: flex;
  gap: 1rem;
}
.input-container {
  margin: auto;
}
.input-container {
  display: flex;
}
.title-login {
  text-align: center;
}
.form-login-submit {
  display: flex;
  justify-content: center;
}
.button-container {
  margin-top: 1rem;
  width: 20% !important;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
.input-login-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* .icon-trash-auto{
    padding: 0.5em;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: fit-content;
} */
/* .icons_auto-container{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.header-lista_autos{
    display: flex;
    justify-content: space-between;
    padding: 2em 0 0 0;
}
.header-lista_autos > li{
    font-weight: 800;
    font-size: 21px;
}
.item-auto{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.item-auto > p{
    width: 15%;
    display: flex;
    justify-content: center;
}
.logo-marca{
    position: absolute;
}
.header-lista_autos > li{
    width: 15%;
    display: flex;
    justify-content: center;
} */
