*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style:  none;
}

#lista-autos{
    width: 80%;
    margin: auto;
    margin-top: 2em;
    display: flex;
    gap: 3em;
}
.img{
    width: 100%;
    height: 25vh;
}
.card{
    width: 25%;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}
.card-header{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
h3{
    font-weight: 600;
    opacity: 60%;
}
ul{
    padding: 0;
}
li{
    padding: 5px 0;
}
h1, h2, h3{
    margin: 0;
}